{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

  <!-- Remove the container if you want to extend the Footer to full width. -->
    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #3e4551"
            >
      <!-- Grid container -->
      <div class="container p-2 pb-0">


        <!-- Section: Social media -->
        <section class="mb-4 text-center p-2">
          <!-- Facebook -->
          <a
             class="btn btn-outline-light btn-floating m-1"
             href="https://www.facebook.com/empleochaco"
             role="button"
             target="_blank"
             ><i class="fa fa-facebook-f"></i
            ></a>

          <!-- Twitter -->
          <a
             class="btn btn-outline-light btn-floating m-1"
             href="https://twitter.com/empleochaco"
             role="button"
             target="_blank"
             ><i class="fa fa-twitter"></i
            ></a>

          <!-- Instagram -->
          <a
             class="btn btn-outline-light btn-floating m-1"
             href="https://www.instagram.com/empleochaco/"
             role="button"
             target="_blank"
             ><i class="fa fa-instagram"></i
            ></a>

          <!-- Linkedin -->
          <a
             class="btn btn-outline-light btn-floating m-1"
             href="https://ar.linkedin.com/in/empleo-chaco-3142a4210"
             role="button"
             target="_blank"
             ><i class="fa fa-linkedin"></i
            ></a>

          <!-- Github -->
          <a
             class="btn btn-outline-light btn-floating m-1"
             href="https://github.com/LisandroCanteros/Grupo2_COM06_Info2021"
             role="button"
             target="_blank"
             ><i class="fa fa-github"></i
            ></a>
            <div class="footer-bottom mt-2">
              &copy; Lisandro Canteros, Fátima Del Fabro, Matías Lepore
            </div>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->


</footer>
