
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/static/logo_chaco.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Conociendo Chaco
    </a>
  </div>

  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" href="/">Inicio</a>
          </li>

          <!-- si el usuario está registrado, mostrar botón para cerrar sesión sino mostrar registro e inciar sesión -->
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'perfil' request.user %}">Mi perfil</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
            </li>
          {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'registro' %}">Registrarse</a>
            </li>
          {% endif %}
      </ul>
  </div>
</nav>
