{% extends "base.html" %}

{% block titulo %}
  Crear cuestionario
{% endblock %}

{% block content %}
<div class="text-center ml-3">
  <form method="post">
    <h1>Crear cuestionario</h1>
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-outline-primary mb-3" name="button">Guardar y crear otro</button>
    <a href="{% url 'agregar_pregunta' %}" class="btn btn-outline-primary mb-3" name="button">Agregar una pregunta</a><br>
    <a class="btn btn-info" href="{% url 'pagina_principal' %}">Volver a la página principal</a>
  </form>
</div>


{% endblock %}
